/*Clases Generales*/
.overflow-hidden {
	overflow: hidden !important;
}
.popup {
	position: absolute;
	max-height: 70vh;
	overflow: scroll;
	background: white;
	z-index: 100;
	right: 0;
	top: 7vh;
}
.close-x {
	position: absolute;
	top: 5%;
	right: 5%;
	background: gray;
	color: black;
	z-index: 10;
}
.producto-individual {
	position: relative;
	width: 100%;
	text-align: center;
	border: 1px solid gray;
}

/* Popup container - can be anything you want */
.popup {
    position: absolute;
	max-height: 70vh;
	overflow: scroll;
	background: white;
	z-index: 100000000;
	right: 0;
	top: 7vh;
    cursor: pointer;
	display: none;
}
